header {
  padding: 1.5rem;
  font-family: $font-Raleway;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: 6rem;
    height: auto;
  }
}

.menu {
  a {
    text-decoration: none;
    margin: 0 0.3rem;
    font-weight: $font-400;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 2rem 5rem;
  }
}
