.top {
  font-family: $font-Raleway;
  img {
    width: 100%;
    height: auto;
  }
  .container {
    margin-top: 2rem;
    h1 {
      font-weight: $font-700;
      text-align: center;
    }
    p {
      font-weight: $font-400;
      text-align: center;
      margin-top: 2rem;
    }
    form {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      font-family: $font-Raleway;
      input[type="text"] {
        padding: 0.75rem;
        border: 1px solid black;
        border-radius: 0.5rem;
        font-family: $font-Raleway;
        outline: none;
      }
    }
  }
}
